@import 'header.css';
body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font: 1rem 'Fira Sans', sans-serif;
    background: whitesmoke;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 50%;
    background: white;
    padding: 5px 70px 15px 70px;
    margin: 0;
}

.text-header {
    font-size: 30px;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.about1 {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5%;
    background: white;
}

.element {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.about2 {
    flex: 20%;
    background: rgb(53, 66, 74);
    height: max-content;
    margin-top: 30px;
    margin-left: 10%;
    padding: 0 10px 0 10px;
    color: white;
}

.second {
    background: rgb(53, 66, 74);
    height: max-content;
    margin-top: 40px;
    padding: 0 10px 0 10px;
    color: white;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(150, 125, 78);
    height: 10%;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

@media (max-width: 750px) {
    .about1 {
        align-items: center;
        flex: 100%;
    }
    .about1 .first,
    .about1 .second {
        width: 100%;
        margin-left: 0;
    }
    .about2 {
        flex: 100%;
        margin-left: 1%;
        margin-left: 20px;
    }
    .main {
        height: 80%;
        margin-bottom: 30%;
        padding: 5px 30px 15px 30px;
    }
}

@media (max-width: 600px) {
    .head-body {
        height: 35%;
    }
}