* {
    box-sizing: border-box
}

body,
.head-body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font: 1rem 'Fira Sans', sans-serif;
    background: whitesmoke;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 8rem 1.5rem 4rem;
    align-items: center;
    background: rgb(53, 66, 74);
    height: 10%;
    top: 0;
}

.brand,
.suscr {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.5em;
}

.brand--name {
    color: rgb(150, 125, 78);
    text-transform: none;
}

.nav__link {
    display: inline;
    padding-left: 2rem;
    list-style: none;
    text-transform: uppercase;
}

.nav__link a {
    text-decoration: none;
    color: #D6FFF5;
}

.nav__link--active {
    color: #001534;
}

.nav__link a:hover {
    color: #fff;
}

hr.header--separator {
    background: rgb(150, 125, 78);
    margin: 0;
    border: none;
    border: 3px solid rgb(150, 125, 78);
    width: 100%;
    top: 10%;
}


/* .mySlide {
    top: -10%;
}
 */

.suscribe {
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem 1.5rem 4rem;
    align-items: center;
    background: rgb(53, 66, 74);
    height: 10%;
}

.suscribe__form {
    padding: 0;
    margin: 0;
}

.form-element {
    height: 35px;
    border: none;
    border: 1px solid wheat;
    border-radius: 2px;
    outline: none;
    color: white;
    font-size: 16px;
}

.email {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(150, 90, 50, 0.2);
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
    margin-top: 10px;
}

.btn {
    width: 120px;
    font-weight: 500;
    transition: .3s;
    margin-top: 10px;
    background: rgb(150, 125, 78);
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(150, 90, 50, 0.4);
    cursor: pointer;
}

@media (max-width: 670px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        margin: 0;
        width: max-content;
    }
    .nav {
        margin: 0;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .suscr {
        margin: 10px 50px 0 50px;
        text-align: center;
        font-size: 25px;
    }
    .brand {
        margin: 5px 5px 0 30px;
        padding-right: 30px;
        font-size: 25px;
        text-align: center;
    }
    .suscribe {
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }
    .suscribe__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .suscribe__form .email,
    .suscribe__form .btn {
        width: 200px;
        margin-top: 10px;
    }
    .head-body {
        overflow: hidden;
        background-color: rgb(53, 66, 74);
    }
}

@media (max-width: 600px) {
    .header {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        width: 100%;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .nav__link {
        padding-left: 1px;
    }
    .nav {
        height: 45%;
        margin: 0;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brand {
        margin: 5px 1px 0 1px;
        font-size: 20px;
        width: min-content;
        text-align: center;
    }
    .head-body {
        overflow: hidden;
        background-color: rgb(53, 66, 74);
    }
}

@media(max-width: 928px) {
    .btn {
        width: 300px;
    }
    .suscribe__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .suscribe {
        text-align: center;
        height: 15%;
    }
    .nav {
        height: 43%;
        margin: 0;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}