@import 'header.css';
body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font: 1rem 'Fira Sans', sans-serif;
    background: whitesmoke;
    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}

.container__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
    width: 30%;
}

.container__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img img {
    border-radius: 5px 5px 0 0;
    width: 250px;
    height: 250px;
    max-width: 350;
    max-height: 350px;
    align-content: center;
}

.card-content,
.card-img {
    padding: 2px 16px;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(150, 125, 78);
    height: 10%;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
}

@media (max-width: 750px) {
    .container {
        align-items: center;
        flex: 100%;
    }
    .container .container__card {
        width: 100%;
    }
    .card-img {
        flex: 100%;
        margin-left: 1%;
    }
}


/* @media (max-width: 1500px) {
    .container {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex: 100%;
    }
    .container .container__card {
        width: 45%;
        margin-left: 10px;
    }
    .card-img {
        flex: 100%;
        margin-left: 1%;
    }
    .card-img {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .card-img img {
        width: 100%;
    }
} */

@media (max-width: 1500px) {
    .container {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex: 100%;
    }
    .container .container__card {
        width: 25%;
        margin-left: 10px;
    }
    .card-img {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .card-img img {
        width: 80%;
    }
}

@media (max-width: 970px) {
    .container {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex: 100%;
    }
    .container .container__card {
        width: 35%;
        margin-left: 10px;
    }
    .card-img {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .card-img img {
        width: 80%;
    }
}

@media (max-width: 670px) {
    .container {
        align-items: center;
        flex: 100%;
    }
    .container .container__card {
        width: 100%;
    }
    .card-img {
        flex: 100%;
        margin-left: 1%;
    }
    .mySlide {
        height: 120px;
        margin: 0;
    }
    .mySlide img {
        height: 100%;
    }
    .suscribe {
        margin-top: 0;
        flex-direction: row;
        justify-content: center;
    }
    .suscribe .suscr {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .head-body {
        height: 55%;
    }
}